.upperSection {
  width: 960px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.board {
  width: 600px;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  border-radius: 15px;
  background-color: rgba(10, 68, 99, 0.1);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 24px;
}

.draw {
  color: #3ba3a3;
}

.winning {
  color: #259b4e;
}

.defeat {
  color: #dd0000;
}

.preloaderWrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
