@font-face {
  font-family: "balsamiq_sansregular";
  src: url("assets/fonts/BalsamiqSans/BalsamiqSans-Regular.woff") format("woff"),
    url("assets/fonts/BalsamiqSans/BalsamiqSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
